.list {
  margin-left: 0;
}

.item {
  list-style: none;
}

.item-link {
  display: block;
  box-shadow: none;
  color: hsl(0,0%,100%,0.8);
  padding: 1.5rem;
}

.item-link:hover {
  background-color: hsl(330, 5%, 16%);
}

.item-title {
  margin-bottom: .4rem;
  margin-top: 0;
}

.item-date {
  color: hsl(0,0%,100%,0.7);
  font-size: .9rem;
}
